@model LiberaryBK.Models.Books

@{
    ViewData["Title"] = "Details";
}
meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Material Design Bootstrap</title>
<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="~/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="~/css/mdb.min.css" rel="stylesheet">
<!-- Your custom styles (optional) -->
<link href="~/css/style.min.css" rel="stylesheet">

@section nav
{
    <li class="nav-item mx-0 mx-lg-1">
        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item mx-0 mx-lg-1">
        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" asp-action="Index">Books</a>
    </li>

}
<!--Section: Main info-->
@{
    var photoPath = "~/Images/" + (Model.BookCover ?? "165b797d-390f-4164-ac4b-21b249a04709_simba.jpg");
    var personPhotoPath = "~/Images/" + (Model.Userr.Photo ?? "165b797d-390f-4164-ac4b-21b249a04709_simba.jpg");
    var pdfPath = "~/Pdf/" + Model.BookPdf;
}
<div class="container" style="margin-top:130px">
    <section class="mt-5 wow fadeIn">

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <img src="@photoPath" class="img-fluid z-depth-1-half" asp-append-version="true" style="width:540px;height:380px">

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Main heading -->
                <h3 class="h3 mb-3">@Model.BookName</h3>
                <p>
                    @Model.Description (
                    <strong>MDB</strong> )
                </p>
                <p>@Model.Price $</p>
                <!-- Main heading -->

                <hr>

                <p>
                    <!--i will do it in another time remember-->
                    <a asp-page="/Identity/Account/Manage/PersonalData">
                        <img src="@personPhotoPath" class="img-fluid z-depth-1-half" asp-append-version="true" style="width:70px;height:70px">

                        @Model.Userr.Name
                    </a>
                </p>

                <!-- CTA -->
                <a target="_blank" href="@pdfPath" class="btn btn-indigo btn-md">
                    Download
                    <i class="fas fa-download ml-1"></i>
                </a>
                <!-- <a target="_blank" href="https://mdbootstrap.com/docs/jquery/components/" class="btn btn-indigo btn-md">
                    Live demo
                    <i class="far fa-image ml-1"></i>
                </a>-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>
    <hr>
    @await Component.InvokeAsync("Comnts", new { Id = Model.BookId });
    @*@await Component.InvokeAsync("AddC");*@

    <!--Section: Main info-->
</div>